/*
 * CUSTOM SBNCONSULTS STYLES
 * Author: Salem B.
 * ------------------------------------- 
 */


body {
  text-align: center;
  font-family: Sans-Serif;
}

.container {
  width: 90%;
}


/* Header
 * --------- */

.navbar {
  min-height: 100px;
  padding: 40px 0px 0px 0px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.navheadr-brand {
  height: 100px;
  float: left;

}

.navheadr-nav {
  float: right;
}

.navheadr-brand img {
  height: 100px;
}

.navheadr-nav > li {
  display: inline-block;
  margin-top: 20px;
}

.navheadr-nav > li + li {
  margin-left: 20px;
}

.navheadr-nav > li > a {
  font-size: 16px;
  font-weight: bold;
  color: #000; /* IE8 */
  color: rgba(0,0,0,.25);
}

.navheadr-nav > li > a:hover,
.navheadr-nav > li > a:focus {
   color: #000;
   background-color: transparent;
}

.navheadr-nav > .active > a,
.navheadr-nav > .active > a:hover,
.navheadr-nav > .active > a:focus {
  color: #000;
}

.icon-circle {  
  .border-radius(50%);  
  width: 140px;
  height: 140px;
}

.btn-default {
  color: #d28581;
  font-weight: bold;
}

.btn-default:hover{
    color: #d28581;
  font-weight: bold;
}

.no-rounded {
  .border-radius(0px);
}

.white-bordered {
  border: solid 1px #ffffff;
}
.box-wrapper {
  .border-radius(25px);
  background-color: #000000;
  padding: 10px;
  overflow:hidden;
}

.box-header{
  text-align: left;
}

.box-header .col-md-12{
  padding: 30px;
  background-color:#dbb8b6;

}

.box-header .white-bordered {
  opacity: .8;
}

.box-body {
  background-color:#ffffff;
}

.box-body .col-md-12{
  background-color:#ffffff;
  padding: 60px 20% 60px 20%;
}

.box-body form{
  text-align: left;
}


.box-body form .btn-default {
  color: #000000;
}

.box-body form .btn-default:hover{
  color: #000000;
}


/* Carousel
 * --------- */

.carousel {
  margin-bottom: 100px;
  .border-radius(25px);  
  overflow:hidden;
  z-index: 30;

}

.carousel img{
  .border-radius(25px);
  width: 100%;
  z-index: 20;
}

.carousel-caption {
  padding-top: 25%;
  padding-left: 0px;
  opacity: .9;
  font-size: 40px;
  font-family: Impact;
  position:absolute;
  bottom: 20px;
  z-index: 10;
  height:100%;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}

.carousel .item {
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}

/* Declare heights because of positioning of img element 
.carousel .item {
  height: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}
*/
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
    margin-bottom: 100px;
}

.marketing .col-md-4 {
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-md-4 p {
  margin-right: 20px;
  margin-left: 20px;
}

.marketing .icon-circle {
  border: solid 1px;
  border-color: #dbb8b6;
  width: 100px;
  height: 100px;
}


/* Featurettes
------------------------- */

.featurette-color {
  background-color: #f8f1f0;
  .border-radius(15px);
}

.featurette {
  padding-top: 40px;
  padding-bottom: 40px;
  .border-radius(15px);
}

.featurette img{
  .border-radius(25px);
  width: 350px;
}

.featurette .lead{
  font-size: 15px;
}

/* Footer
-------------- */
footer {
  margin-top:30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;  
}

/* Make Responsive
 *------------------- */

@media (max-width: 480px) {

  .carousel {
    margin-bottom: 10px;
    .border-radius(15px);
    vertical-align: middle;
  }

  .carousel-caption {
    font-size: 25px;
  }

  .navheadr-nav > li + li {
    margin-left: 0px;
  }

  .box-body .col-md-12{
    background-color:#ffffff;
    padding: 30px 10% 30px 10%;
  }

}

@media (min-width: 480px) and (max-width: 768px) {
  .carousel-caption {
    font-size: 35px;
  }
}

@media (min-width: 480px) and (max-width: 991px){
  .break-early {
    width:400px;
  }
}

@media (min-width: 480px) and (max-width: 991px),(max-width: 480px) {

 .box-header .col-md-12 {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
 }

}

@media (max-width: 768px) {

  .navheadr-brand {
    margin-top: 0px;
    margin-bottom: 0px;
    float:none;
  }

  .navheadr-nav > li {
    margin-top: 0px;
  }

  .navheadr-brand img{
    margin-left: auto;
    margin-right: auto;
  }

  .navheadr-nav {
    float: none;
  }

}