/*
 * CUSTOM SBNCONSULTS STYLES (New & Modified)
 * Author: Salem B.
 * ------------------------------------------
 */


/* #PAGE LOAD */

/*
@-webkit-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-moz-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-ms-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-o-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
*/

/* General
 * ---------*/

body {
  text-align: center;
  font-family: Sans-Serif;
  background-color:rgba(240,240,240,1);
  font-weight:500;
  font-size: 15px;
  line-height:24px;
  color: #707070;

  overflow-x:hidden;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-text-size-adjust: 100%;
 }

html {
  overflow-x:hidden; 
  height:100%;
}

a {
  color: #d28581;
  font-weight: bold;
}

a:hover {
  color: #d28581;
  font-weight: bold;
  text-decoration: none;
}



/* Typography
 * -----------*/
  h1, h2, h3, h4, h5, h6 {
    color: #414141;
    font-family: 'GentonaHeavy';
    text-align:center;
  }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
  h1 { font-size: 40px; line-height:40px;text-transform:uppercase;letter-spacing:2px;}
  h2 { font-size: 34px; line-height:34px;text-transform:uppercase;letter-spacing:2px;}
  h3 { font-size: 30px; line-height: 30px;text-transform:uppercase;letter-spacing:2px;}
  h4 { font-size: 24px; line-height: 24px;text-transform:uppercase;letter-spacing:1px;}
  h5 { font-size: 20px; line-height: 20px;text-transform:uppercase;letter-spacing:1px;}
  h6 { font-size: 18px; line-height: 18px;text-transform:uppercase;letter-spacing:1px;}


  p {  }
  p img { margin: 0; }

  em { font-style: italic; }
  strong { font-weight: 600;}
  small { font-size: 80%; }
  
  hr { border: solid #323a3d; border-width: 1px 0 0; clear: both; margin:0 10px 0 10px; height: 0; position:relative;}



/* Header
 * --------- */

.navbar {
  height: 162px;
  width: 100%;
  padding: 0 0 40px 0;
  background-color:rgba(240,240,240,1);
  margin:0;

}

.navheadr-brand {
  background-color:rgba(240,240,240,1);
  padding: 40px 5% 0 5%;
  height:122px;
  width: 100%;
}

.navheadr-nav {
  float: right;
  margin-top: 10px;
}

.navheadr-brand img {
  float:left;
  height:82px;
}

.navheadr-nav > li {
/*  display: inline-block;*/
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0,0,0,.25);
  text-align: right;
}

.navheadr-nav li a{
  text-align: left;
}

.navheadr-nav > li > a:hover,
.navheadr-nav > li > a:focus {
  color: #000;
  background-color: transparent;
}

/* Body
 * --------- */
.icon-circle {  
  .border-radius(50%);  
  width: 230px;
  height: 230px;
}

.btn-default {
  border: solid 1px #d28581;
  color: #d28581;
  font-weight: bold;
  background-color:rgba(240,240,240,1);
}

.btn-default:hover{
  border: solid 1px #d28581;
  color: #d28581;
  font-weight: bold;
  background-color:rgba(255,255,255,1);
}

.message{
  color: #d28581;
  text-align:center;
  display:none;
}

/* Carousel
 * --------- */

.carousel-container .row{
  margin-top:162px;
  width: 90%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 100px;

}

.carousel {
  .border-radius(25px);  
  overflow:hidden;
  z-index: 30;
}

.carousel img{
  .border-radius(25px);
  width: 100%;
  z-index: 20;
}

.carousel-caption {
  padding-top: 25%;
  padding-left: 0px;
  opacity: .9;
  font-size: 40px;
  line-height: 50px;
  font-family: Impact;
  position:absolute;
  bottom: 20px;
  z-index: 10;
  height:100%;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

.slow-caption {
  display: none;
}

.carousel .item {
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}

.carousel .active.left, .carousel .active.right {
  left:0;
  opacity:0;
  z-index:10;
}
.carousel .next, .carousel .prev {
  left:0;
  opacity:1;
  z-index:1;
}

/* Marketing
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
  margin-bottom: 30px;
}

.marketing .col-md-4 {
  text-align: center;
  margin-bottom: 70px;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-md-4 p {
  margin-right: 20px;
  margin-left: 20px;
}

.marketing .icon-circle {
  border-color: #dbb8b6;
  width: 100px;
  height: 100px;
}

/* Footer
-------------- */
footer {
  margin-top:30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;  
}

/* Make Responsive
 *------------------- */

@media (max-width: 480px) {


  .carousel-caption {
    font-size: 25px;
  }

  .navheadr-brand {
    height:115px;
  }

  .navheadr-brand img {
    height:75px;
  }

  .navheadr-nav > li + li {
    margin-left: 0px;
  }


}

@media (min-width: 480px) and (max-width: 768px) {


  .carousel-caption {
    font-size: 35px;
  }


}


@media (max-width: 768px) {
  .navheadr-brand {
    margin-top: 0px;
    margin-bottom: 0px;
    float:none;
  }

  .navheadr-nav > li {
    margin-top: 0px;
  }

  .navheadr-brand img{
    margin-left: auto;
    margin-right: auto;
    float:left;
  }

  .navheadr-nav {
    float: right;
  }

}

@media (max-width: 991px) {

  .marketing .col-md-4 {
    padding-left:18%;
    padding-right:18%;
  } 

}
