<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A team of software consultants passionate about solving business problems and based in Washington, DC">
    <meta name="author" content="SBN Consults">
    <link rel="icon" href="../../favicon.ico">

    <title>SBN Consults, LLC</title>

    <!-- Bootstrap core + custom CSS -->
    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
  <!-- 
    Navigation
  -->
    <header>
      <div class="navbar" role="navigation">
        <div class="navheadr-brand">
          <img src="images/sbnconsults_logo.jpg" class="img-responsive" alt="Logo image">
        </div> 

        {% include nav.html %}
        
      </div>
    </header> <!-- end of .navbar -->
    
  {{content}}


  <!-- 
    Footer
  -->
  <footer>
    <p class="pull-left">&copy; 2014 SBN Consults, LLC. </p>
    <p class="pull-right"><a href="#">Back to top</a></p>
  </footer>    
  <!-- Bootstrap core js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.carousel').carousel().on('slid.bs.carousel', function() {
        toggleCaption();
      });
      toggleCaption();

      /* insert mailing link to avoid spambots */
      var user = "info";
      var host = "sbnconsults.com";
      var linktext = user + "@" + host ;
      $('.mailing').html("<a href='" + "mail" + "to:" + user + "@" + host + "'>" + linktext + "</a>");

      /* validation of contact form */
      $('#contactForm').bootstrapValidator({
        fields: {
            name:{
                validators: {
                    notEmpty: {
                        message: 'Please let us know your name'
                    }
                }
            },
            _replyto: {
                validators: {
                    notEmpty: {
                        message: 'Please provide your e-mail address'
                    },
                    emailAddress: {
                        message: 'The email address is not valid'
                    }
                }
            },
            body: {
                validators: {
                    notEmpty: {
                        message: 'Please write us a message'
                    }
                }
            }
        }
      }).on('success.form.bv', function(e){
        alert("sdfsdfsdf");
           // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Use Ajax to submit form data
            $.ajax({
                type: "POST",
                url: $form.attr('action'),
                data: $form.serialize(),
                success: function(msg) {
                  $('.message').show()
                  // Show result somewhere ...
                }
            });


      });

    });

    /* Function to make slow-caption class fade in slowly*/
    function toggleCaption() {
      var caption = $('.carousel').find('.active').find('.slow-caption');
      caption.delay(500).fadeIn(2000).delay(4000).fadeOut(1000);
    }
  
  </script>

  </body>
</html>