<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>SBN Consults, LLC</title>

    <!-- Bootstrap core + custom CSS -->
    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
  <!-- 
    Navigation
  -->
    <header>
      <div class="navbar" role="navigation">
        <div class="navheadr-brand">
          <img src="images/sbnconsults_logo.png" class="img-responsive" alt="Logo image">
        </div> 

        {% include nav.html %}
        
      </div>
    </header> <!-- end of .navbar -->
    
  {{content}}


  <!-- 
    Footer
  -->
  <footer>
    <p class="pull-left">&copy; 2014 SBN Consults, LLC. <a href="#">Privacy</a></p>
    <p class="pull-right"><a href="#">Back to top</a></p>
  </footer>    
  <!-- Bootstrap core js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript">
 /* $(document).ready(function() {
    $('.carousel').carousel({interval: 5000});
  });
*/
 $(window).load(function() { 
  $("#spinner").fadeOut(); 
   $('.carousel').carousel({interval: 5000}); 
 }); 
</script>
  </script -->
  </body>
</html>